# Python virtual environment
.venv/
venv/
ENV/
env/

# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/

# Database temporary files
falcon_ai.db-shm
falcon_ai.db-wal

# IDE
.idea/

# OS temporary files
Thumbs.db
.DS_Store

# Local secrets
.env

# User runtime uploads
static/uploads/*
!static/uploads/.gitkeep
